<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <resource-ref>
        <description>DBConnect</description>
        <res-ref-name>jdbc/Electro</res-ref-name>
        <res-type>javax.sql.ConnectionPoolDataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>
    <!--    <multipart-config>
        <location>/tmp</location>
        <max-file-size>20848820</max-file-size>
        <max-requet-size>2423553465</max-requet-size>
        <file-size-threshould>1047832</file-size-threshould>
    </multipart-config>-->
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPassword</servlet-name>
        <servlet-class>controller.ResetPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignupServlet</servlet-name>
        <servlet-class>controller.SignupServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignoutServlet</servlet-name>
        <servlet-class>controller.SignoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyAccount</servlet-name>
        <servlet-class>controller.MyAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Redirect</servlet-name>
        <servlet-class>controller.Redirect</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartServlet</servlet-name>
        <servlet-class>controller.CartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteWishList</servlet-name>
        <servlet-class>controller.DeleteWishList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WishlistServlet</servlet-name>
        <servlet-class>controller.WishlistServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteUser</servlet-name>
        <servlet-class>controller.DeleteUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProductSmartphone</servlet-name>
        <servlet-class>controller.DeleteProductSmartphone</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProductTv</servlet-name>
        <servlet-class>controller.DeleteProductTv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProductLaptop</servlet-name>
        <servlet-class>controller.DeleteProductLaptop</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProductCamera</servlet-name>
        <servlet-class>controller.DeleteProductCamera</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProductTablet</servlet-name>
        <servlet-class>controller.DeleteProductTablet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProduct</servlet-name>
        <servlet-class>controller.DeleteProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveCartAdmin</servlet-name>
        <servlet-class>controller.SaveCartAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>controller.SearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveCartSmartphoneAdmin</servlet-name>
        <servlet-class>controller.SaveCartSmartphoneAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveCartTvAdmin</servlet-name>
        <servlet-class>controller.SaveCartTvAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveCartLaptopAdmin</servlet-name>
        <servlet-class>controller.SaveCartLaptopAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveCartCameraAdmin</servlet-name>
        <servlet-class>controller.SaveCartCameraAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveCartTabletAdmin</servlet-name>
        <servlet-class>controller.SaveCartTabletAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProductServlet</servlet-name>
        <servlet-class>controller.AddProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReviewServlet</servlet-name>
        <servlet-class>controller.ReviewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePassword</servlet-name>
        <servlet-class>controller.ChangePassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductServlet</servlet-name>
        <servlet-class>controller.ProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartAdminServlet</servlet-name>
        <servlet-class>controller.CartAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCart</servlet-name>
        <servlet-class>controller.DeleteCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SortProduct</servlet-name>
        <servlet-class>controller.SortProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserAdminServlet</servlet-name>
        <servlet-class>controller.UserAdminServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPassword</servlet-name>
        <url-pattern>/ResetPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignupServlet</servlet-name>
        <url-pattern>/SignupServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignoutServlet</servlet-name>
        <url-pattern>/SignoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyAccount</servlet-name>
        <url-pattern>/MyAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Redirect</servlet-name>
        <url-pattern>/Redirect</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartServlet</servlet-name>
        <url-pattern>/CartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteWishList</servlet-name>
        <url-pattern>/DeleteWishList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WishlistServlet</servlet-name>
        <url-pattern>/WishlistServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteUser</servlet-name>
        <url-pattern>/DeleteUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProductSmartphone</servlet-name>
        <url-pattern>/DeleteProductSmartphone</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProductTv</servlet-name>
        <url-pattern>/DeleteProductTv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProductLaptop</servlet-name>
        <url-pattern>/DeleteProductLaptop</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProductCamera</servlet-name>
        <url-pattern>/DeleteProductCamera</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProductTablet</servlet-name>
        <url-pattern>/DeleteProductTablet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProduct</servlet-name>
        <url-pattern>/DeleteProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveCartAdmin</servlet-name>
        <url-pattern>/SaveCartAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/SearchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveCartSmartphoneAdmin</servlet-name>
        <url-pattern>/SaveCartSmartphoneAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveCartTvAdmin</servlet-name>
        <url-pattern>/SaveCartTvAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveCartLaptopAdmin</servlet-name>
        <url-pattern>/SaveCartLaptopAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveCartCameraAdmin</servlet-name>
        <url-pattern>/SaveCartCameraAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveCartTabletAdmin</servlet-name>
        <url-pattern>/SaveCartTabletAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProductServlet</servlet-name>
        <url-pattern>/AddProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReviewServlet</servlet-name>
        <url-pattern>/ReviewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePassword</servlet-name>
        <url-pattern>/ChangePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductServlet</servlet-name>
        <url-pattern>/ProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartAdminServlet</servlet-name>
        <url-pattern>/CartAdminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCart</servlet-name>
        <url-pattern>/DeleteCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SortProduct</servlet-name>
        <url-pattern>/SortProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserAdminServlet</servlet-name>
        <url-pattern>/UserAdminServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
